body {
    height: 1530px;
    width: 100vw;
    margin: 0;
    /* overflow-x: hidden; */
}

a {
    text-decoration: none;
    color: #596D48;
    font-weight: 600;
}

h1 {
    font-family: sans-serif;
}

.main-container {
    display: flex;
    height: inherit;
}

.left-side {
    background-image: url(halie-west-25xggax4bSA-unsplash2.jpg);
    background-repeat: no-repeat;
    background-size: 800px 1530px;
    min-width: 800px;
    height: inherit;
    flex-shrink: 0;
}

.logo-bar {
    background-color: black;
    height: 170px;
    opacity: 50%;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 15px;
}

.odin {
    width: 17%;
    height: auto;
}

.logo-text {
    color: #E5E7EB;
    font-size: 72px;
}

.right-side {
    background-color: rgb(250, 251, 253);
    flex-shrink: 0;
}

.text {
    font-weight: 800;
    font-size: 36px;
    font-family: sans-serif;
    position: relative;
    top: 215px;
    left: 60px;
}

form {
    background-color: white;
    position: relative;
    top: 280px;
    height: 450px;
}

fieldset {
    display: flex;
    flex-direction: column;
    height: inherit;
    padding: 0;
    border: none;
    box-shadow: 10px 5px 5px rgb(195, 195, 195);
}

.lower-form {
    display: flex;
}

.left-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    border-color: #E5E7EB;
    width: 250px;
    height: 25px;
    border-radius: 3px;
}

.input-container {
    display: flex;
    flex-direction: column;
}

#submit {
    background-color: #596D48;
    color: white;
    border-radius: 10px;
    border: none;
    height: 68px;
    width: 313px;
    font-weight: 600;
    font-size: 20px;
    position: relative;
    top: 330px;
    left: 63px;
}

.last {
    position: relative;
    top: 400px;
    left: 63px;
    font-size: 22px;
    font-family: sans-serif;
    margin: 0;
}

:focus {
    background-color: blue;
}